*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    display: flex;
}

li{
    width: 150px;
    height: 50px;
    background-color: yellow;
    border: 1px solid red;
    list-style: none;    
}

a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items:  center;
}

a:hover{
    color: red;
}
